In [10]:
import pandas as pd
import pandas_datareader.data as web

In [11]:
all_data = {ticker: web.get_data_yahoo(ticker)
            for ticker in ["AAPL", "IBM", "MSFT", "GOOG"]}
price = pd.DataFrame({ticker: data["Adj Close"]
                      for ticker, data in all_data.items()})
volume = pd.DataFrame({ticker: data["Volume"]
                       for ticker, data in all_data.items()})

In [12]:
returns = price.pct_change()

In [13]:
returns.tail()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>AAPL</th>
      <th>IBM</th>
      <th>MSFT</th>
      <th>GOOG</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2019-06-17</th>
      <td>0.005967</td>
      <td>-0.001480</td>
      <td>0.003020</td>
      <td>0.006588</td>
    </tr>
    <tr>
      <th>2019-06-18</th>
      <td>0.023518</td>
      <td>0.010597</td>
      <td>0.017388</td>
      <td>0.010160</td>
    </tr>
    <tr>
      <th>2019-06-19</th>
      <td>-0.002923</td>
      <td>0.005133</td>
      <td>0.003921</td>
      <td>-0.001151</td>
    </tr>
    <tr>
      <th>2019-06-20</th>
      <td>0.008036</td>
      <td>0.012912</td>
      <td>0.009286</td>
      <td>0.008246</td>
    </tr>
    <tr>
      <th>2019-06-21</th>
      <td>-0.003409</td>
      <td>0.002521</td>
      <td>0.000146</td>
      <td>0.009411</td>
    </tr>
  </tbody>
</table>
</div>

In [14]:
returns["MSFT"].corr(returns["IBM"])

0.4868458635210316

In [15]:
returns.corr()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>AAPL</th>
      <th>IBM</th>
      <th>MSFT</th>
      <th>GOOG</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>AAPL</th>
      <td>1.000000</td>
      <td>0.375124</td>
      <td>0.452615</td>
      <td>0.457467</td>
    </tr>
    <tr>
      <th>IBM</th>
      <td>0.375124</td>
      <td>1.000000</td>
      <td>0.486846</td>
      <td>0.402840</td>
    </tr>
    <tr>
      <th>MSFT</th>
      <td>0.452615</td>
      <td>0.486846</td>
      <td>1.000000</td>
      <td>0.537280</td>
    </tr>
    <tr>
      <th>GOOG</th>
      <td>0.457467</td>
      <td>0.402840</td>
      <td>0.537280</td>
      <td>1.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [16]:
returns.corrwith(returns.IBM)

AAPL    0.375124
IBM     1.000000
MSFT    0.486846
GOOG    0.402840
dtype: float64

In [19]:
returns[["IBM", "AAPL"]]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>IBM</th>
      <th>AAPL</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2010-01-04</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2010-01-05</th>
      <td>-0.012080</td>
      <td>0.001729</td>
    </tr>
    <tr>
      <th>2010-01-06</th>
      <td>-0.006496</td>
      <td>-0.015906</td>
    </tr>
    <tr>
      <th>2010-01-07</th>
      <td>-0.003462</td>
      <td>-0.001849</td>
    </tr>
    <tr>
      <th>2010-01-08</th>
      <td>0.010035</td>
      <td>0.006648</td>
    </tr>
    <tr>
      <th>2010-01-11</th>
      <td>-0.010470</td>
      <td>-0.008822</td>
    </tr>
    <tr>
      <th>2010-01-12</th>
      <td>0.007955</td>
      <td>-0.011375</td>
    </tr>
    <tr>
      <th>2010-01-13</th>
      <td>-0.002145</td>
      <td>0.014106</td>
    </tr>
    <tr>
      <th>2010-01-14</th>
      <td>0.015972</td>
      <td>-0.005792</td>
    </tr>
    <tr>
      <th>2010-01-15</th>
      <td>-0.004006</td>
      <td>-0.016712</td>
    </tr>
    <tr>
      <th>2010-01-19</th>
      <td>0.017908</td>
      <td>0.044238</td>
    </tr>
    <tr>
      <th>2010-01-20</th>
      <td>-0.028999</td>
      <td>-0.015392</td>
    </tr>
    <tr>
      <th>2010-01-21</th>
      <td>-0.009597</td>
      <td>-0.017286</td>
    </tr>
    <tr>
      <th>2010-01-22</th>
      <td>-0.027132</td>
      <td>-0.049599</td>
    </tr>
    <tr>
      <th>2010-01-25</th>
      <td>0.004940</td>
      <td>0.026903</td>
    </tr>
    <tr>
      <th>2010-01-26</th>
      <td>-0.002934</td>
      <td>0.014133</td>
    </tr>
    <tr>
      <th>2010-01-27</th>
      <td>0.004612</td>
      <td>0.009420</td>
    </tr>
    <tr>
      <th>2010-01-28</th>
      <td>-0.020423</td>
      <td>-0.041322</td>
    </tr>
    <tr>
      <th>2010-01-29</th>
      <td>-0.010990</td>
      <td>-0.036279</td>
    </tr>
    <tr>
      <th>2010-02-01</th>
      <td>0.018629</td>
      <td>0.013902</td>
    </tr>
    <tr>
      <th>2010-02-02</th>
      <td>0.006898</td>
      <td>0.005803</td>
    </tr>
    <tr>
      <th>2010-02-03</th>
      <td>0.001036</td>
      <td>0.017206</td>
    </tr>
    <tr>
      <th>2010-02-04</th>
      <td>-0.021168</td>
      <td>-0.036038</td>
    </tr>
    <tr>
      <th>2010-02-05</th>
      <td>0.004227</td>
      <td>0.017756</td>
    </tr>
    <tr>
      <th>2010-02-08</th>
      <td>-0.008864</td>
      <td>-0.006856</td>
    </tr>
    <tr>
      <th>2010-02-09</th>
      <td>0.010912</td>
      <td>0.010664</td>
    </tr>
    <tr>
      <th>2010-02-10</th>
      <td>-0.003246</td>
      <td>-0.005454</td>
    </tr>
    <tr>
      <th>2010-02-11</th>
      <td>0.007492</td>
      <td>0.018194</td>
    </tr>
    <tr>
      <th>2010-02-12</th>
      <td>0.002182</td>
      <td>0.008607</td>
    </tr>
    <tr>
      <th>2010-02-16</th>
      <td>0.009920</td>
      <td>0.015072</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>2019-05-10</th>
      <td>-0.000148</td>
      <td>-0.013853</td>
    </tr>
    <tr>
      <th>2019-05-13</th>
      <td>-0.028821</td>
      <td>-0.058119</td>
    </tr>
    <tr>
      <th>2019-05-14</th>
      <td>0.014381</td>
      <td>0.015830</td>
    </tr>
    <tr>
      <th>2019-05-15</th>
      <td>0.008176</td>
      <td>0.011979</td>
    </tr>
    <tr>
      <th>2019-05-16</th>
      <td>0.011012</td>
      <td>-0.004400</td>
    </tr>
    <tr>
      <th>2019-05-17</th>
      <td>-0.011481</td>
      <td>-0.005682</td>
    </tr>
    <tr>
      <th>2019-05-20</th>
      <td>0.005956</td>
      <td>-0.031270</td>
    </tr>
    <tr>
      <th>2019-05-21</th>
      <td>0.009843</td>
      <td>0.019171</td>
    </tr>
    <tr>
      <th>2019-05-22</th>
      <td>-0.000733</td>
      <td>-0.020472</td>
    </tr>
    <tr>
      <th>2019-05-23</th>
      <td>-0.029043</td>
      <td>-0.017070</td>
    </tr>
    <tr>
      <th>2019-05-24</th>
      <td>-0.000831</td>
      <td>-0.003841</td>
    </tr>
    <tr>
      <th>2019-05-28</th>
      <td>-0.013759</td>
      <td>-0.004135</td>
    </tr>
    <tr>
      <th>2019-05-29</th>
      <td>-0.005902</td>
      <td>-0.004769</td>
    </tr>
    <tr>
      <th>2019-05-30</th>
      <td>-0.000925</td>
      <td>0.005187</td>
    </tr>
    <tr>
      <th>2019-05-31</th>
      <td>-0.019912</td>
      <td>-0.018116</td>
    </tr>
    <tr>
      <th>2019-06-03</th>
      <td>0.010080</td>
      <td>-0.010110</td>
    </tr>
    <tr>
      <th>2019-06-04</th>
      <td>0.034459</td>
      <td>0.036584</td>
    </tr>
    <tr>
      <th>2019-06-05</th>
      <td>-0.009044</td>
      <td>0.016143</td>
    </tr>
    <tr>
      <th>2019-06-06</th>
      <td>0.005552</td>
      <td>0.014682</td>
    </tr>
    <tr>
      <th>2019-06-07</th>
      <td>0.008244</td>
      <td>0.026617</td>
    </tr>
    <tr>
      <th>2019-06-10</th>
      <td>0.010727</td>
      <td>0.012779</td>
    </tr>
    <tr>
      <th>2019-06-11</th>
      <td>0.008980</td>
      <td>0.011580</td>
    </tr>
    <tr>
      <th>2019-06-12</th>
      <td>-0.007944</td>
      <td>-0.003183</td>
    </tr>
    <tr>
      <th>2019-06-13</th>
      <td>0.006599</td>
      <td>-0.000206</td>
    </tr>
    <tr>
      <th>2019-06-14</th>
      <td>-0.004493</td>
      <td>-0.007262</td>
    </tr>
    <tr>
      <th>2019-06-17</th>
      <td>-0.001480</td>
      <td>0.005967</td>
    </tr>
    <tr>
      <th>2019-06-18</th>
      <td>0.010597</td>
      <td>0.023518</td>
    </tr>
    <tr>
      <th>2019-06-19</th>
      <td>0.005133</td>
      <td>-0.002923</td>
    </tr>
    <tr>
      <th>2019-06-20</th>
      <td>0.012912</td>
      <td>0.008036</td>
    </tr>
    <tr>
      <th>2019-06-21</th>
      <td>0.002521</td>
      <td>-0.003409</td>
    </tr>
  </tbody>
</table>
<p>2383 rows × 2 columns</p>
</div>

In [20]:
returns.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>AAPL</th>
      <th>IBM</th>
      <th>MSFT</th>
      <th>GOOG</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2010-01-04</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2010-01-05</th>
      <td>0.001729</td>
      <td>-0.012080</td>
      <td>0.000323</td>
      <td>-0.004404</td>
    </tr>
    <tr>
      <th>2010-01-06</th>
      <td>-0.015906</td>
      <td>-0.006496</td>
      <td>-0.006137</td>
      <td>-0.025209</td>
    </tr>
    <tr>
      <th>2010-01-07</th>
      <td>-0.001849</td>
      <td>-0.003462</td>
      <td>-0.010400</td>
      <td>-0.023279</td>
    </tr>
    <tr>
      <th>2010-01-08</th>
      <td>0.006648</td>
      <td>0.010035</td>
      <td>0.006897</td>
      <td>0.013331</td>
    </tr>
  </tbody>
</table>
</div>

In [26]:
x = returns.reindex(columns=["IBM", "AAPL", "MSFT", "GOOG"], copy=True)

In [27]:
x

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>IBM</th>
      <th>AAPL</th>
      <th>MSFT</th>
      <th>GOOG</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2010-01-04</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2010-01-05</th>
      <td>-0.012080</td>
      <td>0.001729</td>
      <td>0.000323</td>
      <td>-0.004404</td>
    </tr>
    <tr>
      <th>2010-01-06</th>
      <td>-0.006496</td>
      <td>-0.015906</td>
      <td>-0.006137</td>
      <td>-0.025209</td>
    </tr>
    <tr>
      <th>2010-01-07</th>
      <td>-0.003462</td>
      <td>-0.001849</td>
      <td>-0.010400</td>
      <td>-0.023279</td>
    </tr>
    <tr>
      <th>2010-01-08</th>
      <td>0.010035</td>
      <td>0.006648</td>
      <td>0.006897</td>
      <td>0.013331</td>
    </tr>
    <tr>
      <th>2010-01-11</th>
      <td>-0.010470</td>
      <td>-0.008822</td>
      <td>-0.012720</td>
      <td>-0.001512</td>
    </tr>
    <tr>
      <th>2010-01-12</th>
      <td>0.007955</td>
      <td>-0.011375</td>
      <td>-0.006607</td>
      <td>-0.017684</td>
    </tr>
    <tr>
      <th>2010-01-13</th>
      <td>-0.002145</td>
      <td>0.014106</td>
      <td>0.009312</td>
      <td>-0.005741</td>
    </tr>
    <tr>
      <th>2010-01-14</th>
      <td>0.015972</td>
      <td>-0.005792</td>
      <td>0.020099</td>
      <td>0.004701</td>
    </tr>
    <tr>
      <th>2010-01-15</th>
      <td>-0.004006</td>
      <td>-0.016712</td>
      <td>-0.003230</td>
      <td>-0.016699</td>
    </tr>
    <tr>
      <th>2010-01-19</th>
      <td>0.017908</td>
      <td>0.044238</td>
      <td>0.007777</td>
      <td>0.013138</td>
    </tr>
    <tr>
      <th>2010-01-20</th>
      <td>-0.028999</td>
      <td>-0.015392</td>
      <td>-0.016399</td>
      <td>-0.012270</td>
    </tr>
    <tr>
      <th>2010-01-21</th>
      <td>-0.009597</td>
      <td>-0.017286</td>
      <td>-0.018960</td>
      <td>0.004428</td>
    </tr>
    <tr>
      <th>2010-01-22</th>
      <td>-0.027132</td>
      <td>-0.049599</td>
      <td>-0.034988</td>
      <td>-0.056554</td>
    </tr>
    <tr>
      <th>2010-01-25</th>
      <td>0.004940</td>
      <td>0.026903</td>
      <td>0.012431</td>
      <td>-0.018200</td>
    </tr>
    <tr>
      <th>2010-01-26</th>
      <td>-0.002934</td>
      <td>0.014133</td>
      <td>0.006139</td>
      <td>0.004481</td>
    </tr>
    <tr>
      <th>2010-01-27</th>
      <td>0.004612</td>
      <td>0.009420</td>
      <td>0.005763</td>
      <td>-0.000590</td>
    </tr>
    <tr>
      <th>2010-01-28</th>
      <td>-0.020423</td>
      <td>-0.041322</td>
      <td>-0.017189</td>
      <td>-0.014407</td>
    </tr>
    <tr>
      <th>2010-01-29</th>
      <td>-0.010990</td>
      <td>-0.036279</td>
      <td>-0.033608</td>
      <td>-0.008142</td>
    </tr>
    <tr>
      <th>2010-02-01</th>
      <td>0.018629</td>
      <td>0.013902</td>
      <td>0.008162</td>
      <td>0.005812</td>
    </tr>
    <tr>
      <th>2010-02-02</th>
      <td>0.006898</td>
      <td>0.005803</td>
      <td>0.001760</td>
      <td>-0.003565</td>
    </tr>
    <tr>
      <th>2010-02-03</th>
      <td>0.001036</td>
      <td>0.017206</td>
      <td>0.005973</td>
      <td>0.018263</td>
    </tr>
    <tr>
      <th>2010-02-04</th>
      <td>-0.021168</td>
      <td>-0.036038</td>
      <td>-0.027593</td>
      <td>-0.025961</td>
    </tr>
    <tr>
      <th>2010-02-05</th>
      <td>0.004227</td>
      <td>0.017756</td>
      <td>0.006466</td>
      <td>0.008562</td>
    </tr>
    <tr>
      <th>2010-02-08</th>
      <td>-0.008864</td>
      <td>-0.006856</td>
      <td>-0.010707</td>
      <td>0.004103</td>
    </tr>
    <tr>
      <th>2010-02-09</th>
      <td>0.010912</td>
      <td>0.010664</td>
      <td>0.010462</td>
      <td>0.005567</td>
    </tr>
    <tr>
      <th>2010-02-10</th>
      <td>-0.003246</td>
      <td>-0.005454</td>
      <td>-0.000714</td>
      <td>-0.003710</td>
    </tr>
    <tr>
      <th>2010-02-11</th>
      <td>0.007492</td>
      <td>0.018194</td>
      <td>0.004645</td>
      <td>0.003649</td>
    </tr>
    <tr>
      <th>2010-02-12</th>
      <td>0.002182</td>
      <td>0.008607</td>
      <td>-0.006757</td>
      <td>-0.006115</td>
    </tr>
    <tr>
      <th>2010-02-16</th>
      <td>0.009920</td>
      <td>0.015072</td>
      <td>0.019784</td>
      <td>0.015344</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>2019-05-10</th>
      <td>-0.000148</td>
      <td>-0.013853</td>
      <td>0.012988</td>
      <td>0.001626</td>
    </tr>
    <tr>
      <th>2019-05-13</th>
      <td>-0.028821</td>
      <td>-0.058119</td>
      <td>-0.029733</td>
      <td>-0.027691</td>
    </tr>
    <tr>
      <th>2019-05-14</th>
      <td>0.014381</td>
      <td>0.015830</td>
      <td>0.011188</td>
      <td>-0.010238</td>
    </tr>
    <tr>
      <th>2019-05-15</th>
      <td>0.008176</td>
      <td>0.011979</td>
      <td>0.014082</td>
      <td>0.039065</td>
    </tr>
    <tr>
      <th>2019-05-16</th>
      <td>0.011012</td>
      <td>-0.004400</td>
      <td>0.023092</td>
      <td>0.012687</td>
    </tr>
    <tr>
      <th>2019-05-17</th>
      <td>-0.011481</td>
      <td>-0.005682</td>
      <td>-0.006670</td>
      <td>-0.014148</td>
    </tr>
    <tr>
      <th>2019-05-20</th>
      <td>0.005956</td>
      <td>-0.031270</td>
      <td>-0.014445</td>
      <td>-0.020176</td>
    </tr>
    <tr>
      <th>2019-05-21</th>
      <td>0.009843</td>
      <td>0.019171</td>
      <td>0.005387</td>
      <td>0.009466</td>
    </tr>
    <tr>
      <th>2019-05-22</th>
      <td>-0.000733</td>
      <td>-0.020472</td>
      <td>0.006068</td>
      <td>0.001557</td>
    </tr>
    <tr>
      <th>2019-05-23</th>
      <td>-0.029043</td>
      <td>-0.017070</td>
      <td>-0.011671</td>
      <td>-0.009249</td>
    </tr>
    <tr>
      <th>2019-05-24</th>
      <td>-0.000831</td>
      <td>-0.003841</td>
      <td>0.000475</td>
      <td>-0.006399</td>
    </tr>
    <tr>
      <th>2019-05-28</th>
      <td>-0.013759</td>
      <td>-0.004135</td>
      <td>-0.000634</td>
      <td>0.000600</td>
    </tr>
    <tr>
      <th>2019-05-29</th>
      <td>-0.005902</td>
      <td>-0.004769</td>
      <td>-0.009670</td>
      <td>-0.015598</td>
    </tr>
    <tr>
      <th>2019-05-30</th>
      <td>-0.000925</td>
      <td>0.005187</td>
      <td>0.006323</td>
      <td>0.001335</td>
    </tr>
    <tr>
      <th>2019-05-31</th>
      <td>-0.019912</td>
      <td>-0.018116</td>
      <td>-0.016305</td>
      <td>-0.012809</td>
    </tr>
    <tr>
      <th>2019-06-03</th>
      <td>0.010080</td>
      <td>-0.010110</td>
      <td>-0.031048</td>
      <td>-0.061071</td>
    </tr>
    <tr>
      <th>2019-06-04</th>
      <td>0.034459</td>
      <td>0.036584</td>
      <td>0.027704</td>
      <td>0.016232</td>
    </tr>
    <tr>
      <th>2019-06-05</th>
      <td>-0.009044</td>
      <td>0.016143</td>
      <td>0.021679</td>
      <td>-0.010284</td>
    </tr>
    <tr>
      <th>2019-06-06</th>
      <td>0.005552</td>
      <td>0.014682</td>
      <td>0.015815</td>
      <td>0.002034</td>
    </tr>
    <tr>
      <th>2019-06-07</th>
      <td>0.008244</td>
      <td>0.026617</td>
      <td>0.028008</td>
      <td>0.020779</td>
    </tr>
    <tr>
      <th>2019-06-10</th>
      <td>0.010727</td>
      <td>0.012779</td>
      <td>0.009133</td>
      <td>0.013452</td>
    </tr>
    <tr>
      <th>2019-06-11</th>
      <td>0.008980</td>
      <td>0.011580</td>
      <td>-0.003771</td>
      <td>-0.001537</td>
    </tr>
    <tr>
      <th>2019-06-12</th>
      <td>-0.007944</td>
      <td>-0.003183</td>
      <td>-0.004618</td>
      <td>-0.001567</td>
    </tr>
    <tr>
      <th>2019-06-13</th>
      <td>0.006599</td>
      <td>-0.000206</td>
      <td>0.006312</td>
      <td>0.010900</td>
    </tr>
    <tr>
      <th>2019-06-14</th>
      <td>-0.004493</td>
      <td>-0.007262</td>
      <td>0.000982</td>
      <td>-0.003141</td>
    </tr>
    <tr>
      <th>2019-06-17</th>
      <td>-0.001480</td>
      <td>0.005967</td>
      <td>0.003020</td>
      <td>0.006588</td>
    </tr>
    <tr>
      <th>2019-06-18</th>
      <td>0.010597</td>
      <td>0.023518</td>
      <td>0.017388</td>
      <td>0.010160</td>
    </tr>
    <tr>
      <th>2019-06-19</th>
      <td>0.005133</td>
      <td>-0.002923</td>
      <td>0.003921</td>
      <td>-0.001151</td>
    </tr>
    <tr>
      <th>2019-06-20</th>
      <td>0.012912</td>
      <td>0.008036</td>
      <td>0.009286</td>
      <td>0.008246</td>
    </tr>
    <tr>
      <th>2019-06-21</th>
      <td>0.002521</td>
      <td>-0.003409</td>
      <td>0.000146</td>
      <td>0.009411</td>
    </tr>
  </tbody>
</table>
<p>2383 rows × 4 columns</p>
</div>